* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.21s ease-in-out;
  transition: 0.21s ease-in-out;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}

*::before, *::after {
  -webkit-transition: 0.21s ease-in-out;
  transition: 0.21s ease-in-out;
}

:root {
  --action: #339ce6;
  --body: #fff;
  --bg: #f4f7ff;
  --stroke: #5f6c8e;
  --text: #f3f3f7;
}

.main {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.post {
  min-width: 270px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 0.65em 0.65em 0.65em 0.65em;
  border: 3px solid var(--stroke);
  -webkit-box-shadow: 5px 5px var(--stroke);
          box-shadow: 5px 5px var(--stroke);
}

.post > div {
  padding: 1em;
}

.post .avatar {
  width: 60px;
  height: 60px;
  background: var(--action);
  border-radius: 50% 50% 50% 50%;
  position: absolute;
  left: 0;
  top: 0;
  border: 3px solid var(--stroke);
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  padding: 0;
  overflow: hidden;
}

.post .avatar img {
  width: 100%;
}

.post .post-head div {
  display: inline;
  margin: 0 1em 0 0;
}

.post .post-head .name span {
  font-weight: 100;
}

.post .post-head .time {
  float: right;
  opacity: 0.45;
}

.post .body {
  padding-top: 0;
  font-weight: 400;
}

.action-cont {
  height: 78px;
  position: relative;
  background: var(--bg);
  border-radius: 0 0 0.65em 0.65em;
}

.action-cont button {
  position: relative;
  border: 3px solid var(--stroke);
  background: var(--bg);
  padding: 1em 2em;
  color: var(--stroke);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  outline: none;
  -webkit-box-shadow: 0 5px var(--stroke);
          box-shadow: 0 5px var(--stroke);
  border-radius: 0.65em 0.65em 0.65em 0.65em;
}

.action-cont button i {
  color: var(--stroke);
}

.action-cont button::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: calc(100%);
  height: 100%;
  background: var(--action);
  border: 3px solid var(--stroke);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-clip-path: circle(0% at 0% 100%);
          clip-path: circle(0% at 0% 100%);
  border-radius: 0.65em 0.65em 0.65em 0.65em;
}

.action-cont button:active {
  -webkit-transform: translate(-50%, calc(-50% + 5px));
          transform: translate(-50%, calc(-50% + 5px));
  -webkit-box-shadow: 0 0px var(--stroke);
          box-shadow: 0 0px var(--stroke);
  color: var(--text);
}

.action-cont button:active i {
  color: var(--text);
}

.action-cont button:active::before {
  -webkit-clip-path: circle(100% at 50% 100%);
          clip-path: circle(100% at 50% 100%);
}

.action-cont button > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 20px;
  min-height: 20px;
  height: var(--height);
  overflow: hidden;
  position: absolute;
  background: var(--body);
  padding: 0 0.72em;
  text-align: center;
  color: var(--stroke);
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0 0 3px var(--stroke);
          box-shadow: 0 0 0 3px var(--stroke);
  border-radius: 2em 2em 2em 2em;
}

.action-cont button > span div {
  margin: auto;
  position: relative;
  -webkit-transform: translateY(var(--tx));
          transform: translateY(var(--tx));
}

.action-cont button > span span {
  position: relative;
  display: block;
  padding: 3px 0;
}

.rated {
  color: var(--text) !important;
}

.rated i {
  color: var(--text) !important;
}

.rated::before {
  -webkit-clip-path: circle(100% at 50% 100%) !important;
          clip-path: circle(100% at 50% 100%) !important;
}

.alerts {
  position: fixed;
  padding: 1em 3.2em;
  background: var(--action);
  border-radius: 0.65em 0.65em 0.65em 0.65em;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  opacity: 0;
}

.alerts p {
  color: var(--text);
  text-align: center;
}

.show {
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
  opacity: 1;
}
/*# sourceMappingURL=styles.css.map */